@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
$mainColor: #fca503;
$secondaryColor: #adadad;
$fontFamily: 'Roboto Condensed', sans-serif;

$pathOrange: #f2663a;
$lightPathOrange: #f79f82;
$transparentOrange: #f2653a62;


$tagColor: (
    1: #e7d672, 
    2: #d89e34, 
    3: #279fbd, 
    4: #66d6b4, 
    5: #37d68c,
    6: #ac4be4,
    7: #3cb47c, 
    8: #d89e34, 
    9: #279fbd, 
    10: #3ca6b4, 
    11: #37d68c,
    12: #ac4be4,
    13: #3cb47c, 
    14: #d89e34, 
    15: #279fbd, 
    16: #3ca6b4, 
    17: #37d68c,
    18: #ac4be4,
    19: #3cb47c, 
    20: #d89e34, 
    21: #279fbd, 
    22: #3ca6b4, 
    23: #37d68c,
    24: #ac4be4,
    );
