@import './settings';
$tag-background: #3cb47c;
// body {
//   margin: 0;
// }

nav {
  background: $lightPathOrange;
}

// nav a {
//   color: white;
// }

p {
  word-wrap: break-word;
}

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
body {
  font-family: $fontFamily;
}

#logo{
    background-repeat:no-repeat;
    float:left;
    margin-top:10px;
    margin-left:5px;
}
.text-center {
  text-align: center;
}
.dropbtn {
    background-color: #f9f9f900;;
    border: none;
    cursor: pointer;
    position:relative;
    z-index:200;
    text-align:center;
    margin-top:5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    top: 60px;
    display: none;
    position: absolute;
    // background-color: #70707078;
    background: #fac4b3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    // color: black;
    color: #dd731c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #00000033;
  }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00000033;
}
.b{
    position:relative;
    text-align:right;
    // background:#ffffff41;
    margin:0 auto;
    z-index:100;
    height:60px;
    width:100vw;
}


body{
  // background-image:url("../img/backg.png");
  // background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

p{
  color:rgb(0, 0, 0); 
}

main {
  padding: 0 16px;
  min-height: calc(100vh - 60px);
}
ul {
  list-style-type: none;
}


.word {
  margin-top: 4em;
  font-size: 36px;
  color: rgb(0, 0, 0);
  text-align:center;
}

h1{
  margin: 16px 0;
  text-align: center;
  h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
}
h2 {
  color: rgba(80, 72, 72, 0.76);
  font-size: 23px;
  text-align:center;
}

.myButton {
	background-color: $transparentOrange;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #5c4f5a09;
	cursor:pointer;
	color:#dd731c;
	font-size:17px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #46414557;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left:auto;
  margin-right:auto;
  width: 130px;
  margin-top: 20px;
}
.myButton:hover {
  // background-color:#413d3f00;
  background: #000000a0;
}
footer{
  justify-content:end;
}

hr{
  margin-left:80px;
  margin-right:80px;

}

// Star
.favorite_checkbox {
  visibility:hidden;
  font-size:30px;
  color: black;
  -webkit-text-fill-color: #e7bb6a; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  height: 0;
  width: 0;
  cursor:pointer;
  pointer-events: none; 

  position: absolute;
  right: 32px;
}
.favorite_checkbox:before {
 content: "\2606"; // Hollow star
 position: absolute;
 visibility:visible;
 pointer-events: auto;
 margin: -32px 0;
}
.favorite_checkbox:checked:before {
 content: "\2605"; // Filled in star
 position: absolute;
 pointer-events: auto;
 margin: -32px 0;
}

.tagView{
  color: black; 
  padding: 2px; 
  border-radius: 8px;
  font-size: 8pt;

}
@mixin color-modifiers {
  @each $name, $hex in $tagColor {
    &#{$name} {
      background: $hex;
    }
  }
}
.tag {
  @include color-modifiers;
}

.orgView{
  position: relative;
  margin-top: 16px;
}

.button {
  background: linear-gradient(to bottom, #d4d4d4 5%, #ababab 100%);
  background-color: #d4d4d4;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Roboto Condensed';
}

.button:hover {
  background:linear-gradient(to bottom, #ababab 5%, #d4d4d4 100%);
	background-color:#ababab;
}

.button:active {
  position: relative;
  top: 1px;
}

.aboutText {
  margin-top: 20px;
}

.map-relative {
  position: relative;
  overflow: scroll;
  height: calc(100vh - 130px);
}

.map-absolute {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5, 0.5) translate(-50%, -50%);
}