{% extends 'base.html' %}

{% block content %}
    <h1>About Us</h1>
    <p class="text-center aboutText">Pathways to Professions is sponsored by the Wasatch Front South Career and Technical Education Region. This region consists of the following educational partners:</p>
    <p class="text-center aboutText">Canyons School District, Granite School District, Jordan School District, Murray School District, Salt Lake School District, Tooele School District, Salt Lake Community College, Tooele Tech College, American Academy of Innovations, Academy for Math Engineering and Science, Beehive Academy, Itineris Early College High School, Providence Hall, Real Salt Lake Academy, Roots Charter High School, Salt Lake School of Performing Art, Summit Academy High School, Vanguard Academy, Department of Workforce Services, Utah Governor’s Office of Economic Development.</p>
    <p class="text-center aboutText">This is the fourth year of Pathways to Professions.</p>
    <p class="text-center aboutText">App developed by Kyler Day, Anna Xu, and David Buckley at Merit Academy (Springville)</p>
{% endblock %}