{% extends 'base.html' %}

{% block content %}
    <h1>Organizations</h1>

    <button onclick="hideOptions()" class="button">Filter Options</button>
    <div id="options_div">
        <form title="organizations" action="organizations" method="POST">

                {% csrf_token %}
                {{filter}}
                <button type="submit" id="submitBt" class="button">filter</button>
            </form>
    </div>

    <ul class="filter_results">
        {% for org in orgs %}
            <li class="orgView" > 
                <h3> {{org.name}} </h3> 

                {% if org.id in favorites %}
                    <input id="{{org.id}}" type="checkbox" class="favorite_checkbox" label="favorite" checked>
                {% else %}
                    <input id="{{org.id}}" type="checkbox" class="favorite_checkbox" label="favorite">
                {% endif %}

                <p>{{org.location}} - 
                    {% for tag in org.tags %}
                        <span class="tagView"> {{tag}}</span>
                    {% endfor %}
                </p>

                <p>{{org.description}}</p> 
                <a href="{{org.link}}">{{org.link}}</a> 

            </li>
        {% endfor %}

            <script type="text/javascript">
                window.addEventListener("click", function(e) {
                    if (e.target.className === "favorite_checkbox") {
                        $.post("toggle", {
                                id: e.target.id, 
                                favorite: e.target.checked,
                                csrfmiddlewaretoken: '{{ csrf_token }}' 
                        });
                    }

                });

                {% if hide_filter %}
                    hideOptions()
                {% endif %}

                function hideOptions(){
                    var x = document.getElementById("options_div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }

                
                $("label[for='id_favorites']").insertAfter("#id_favorites");
                $("<br/>").insertAfter("label[for='id_favorites']");
                $("label[for='id_favorites']").text("Favorites")
            </script>
            
        
    </ul>

{% endblock %}